# The app's client ID.
# Enable Implicit grant
# Add a Redirect URI for DS_APP_URL/oauthResponse.html
DS_CLIENT_ID='xxx'
# The URL for the application
DS_APP_URL='http://localhost:3000/api-request-builder/build'
# The CORS gateway for the eSig API
DS_REST='xxx'
# The CORS gateway for the authentication server
DS_AUTHENTICATION=''
# The name of the authentication server
DS_AUTH_SERVER='account-d.docusign.com'

# Should the Fluent version of the blocks be shown?
SHOW_FLUENT_METHODS=1

# Extra debugging output to the console?
DS_DEBUG=1

# Do not change the following settings
UPLOADS_R_1_TIME_USE=1
OVERRIDE_BASE_URL=0
OVERRIDE_ACCOUNT_ID=0
DS_API_CORS=0
DS_ENV_BUILDER_GATEWAY=''
