{{!-- 
Toolbox xml ref: https://developers.google.com/blockly/guides/configure/web/toolbox

Incoming data:
{
  label: 'Envelope actions' 
} --}}
  <label text="{{label}}" web-class="toolboxSectionLabel"></label>

